:root {
    --bg: #595959;
    --fg: #2a95bf;
    --grey: #595959;
    --dkb: #295fa6;
    --mbl: #2a95bf;
    --red: #bf0413;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#container {
    min-height: 90vh;
    padding: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: top; */
}

#collection {
    padding: 2rem;
    background: var(--bg);
}

#collection h2, #computation h2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    background-color: white;
    color: var(--dkb);
}

#income-form > div {
    padding: 0.3rem 0;
    display: flex;
    justify-content: space-between;
}

#income-form label {
    font-weight: 600;
    padding: 0 1rem 0 0;
}

#income-form input {
    text-align: right;
}

#income-form input[name="name"] {
    text-align: left;
}

#income-form input[type="submit"] {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0.3rem;
}

#computation {
    padding: 2rem;
    flex-basis: 40%;
    background: var(--bg);
}

#computation h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1rem;
}

table {
    width: 100%;
    padding: 1rem;
    background-color: var(--fg);
    line-height: 1.4;
    
}

.total-row {
    color: var(--red);
}

th {
    text-align: left;
}

td {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.rhs {
    width: 20%;
}

.mid {
    width: 25%;
}

#totals {
    line-height: 1.8;
}
